{% extends 'base.html.twig' %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Création d'un compte{% endblock %}

{% block body %}
    <h1 class="text-center mt-2 mb-2">Créez votre compte utilisateur</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {label:"Nom d'utilisateur"}) }}
        {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
        <button type="submit" class="btn btn-primary w-100">Créer mon compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
