{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1>Édition de {{ entity.firstname }} {{ entity.lastname }}</h1>
    {{ include('entity/_form.html.twig', {submit_label: 'Modifier  ', form:form}, with_context = false ) }}
{% endblock %}

{% block title %}
    Edition de {{ entity.firstname }} {{ entity.lastname }}
{% endblock %}

